Source: node-has-gulplog
Section: web
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends:
 debhelper (>= 9)
 , dh-buildinfo
 , nodejs
Standards-Version: 3.9.8
Homepage: https://github.com/gulpjs/has-gulplog#readme
Vcs-Git: https://anonscm.debian.org/git/pkg-javascript/node-has-gulplog.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-javascript/node-has-gulplog.git

Package: node-has-gulplog
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-sparkles (>= 1.0.0)
Description: check if gulplog is available before attempting to use it
 .
 Node.js is an event-based server-side JavaScript engine.
